.item {
    width: 250px;
    height: fit-content;
    background-color: #FFFFFF;
    box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
    border-radius: 0px 0px 40px 40px;
    padding: 10px;
}

.img {
    width: 250px;
    height: 350px;
}

.text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #111111;
}

.btn {
    width: 100%;
    height: 48px;
    color: #54ADFF;
    background-color: #fff;
    border: 2px solid #54ADFF;
    border-radius: 40px;
}

.btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #54ADFF;
}